.header {
    height:50px;
    background-image: url("lib/resources/header2.jpg");
    /*border:1px solid #CCC;*/
    width:90%;
    margin:0px auto;
}
.logo {
    position: absolute;
    top: 0px;
    left: 200px;
    font-size: 37px;
    font-family: "Helvetica Neue"
}
.toolbar {
    position: absolute;
    top: 60px;
    left: 450px;
}
.right-side{
    position: absolute;
    right: 0px;
    width: 25%;
    padding: 30px;
    top:60px;
    border: 4px;
}
.center-block {
    position: absolute;
    left: 300px;
    padding-top: 100px;
    padding-left: 80px;
    padding-right: 30px;
    top: 60px;
    width: 50%;
    border: 4px;
}
.left-side{
    position: absolute;
    left: 0px;
    width: 25%;
    padding: 30px;
    top:60px;
    border: 4px;
}
.table-title {
    font-family: "Helvetica Neue";
    font-size: 25px;
}
.news-title{
    font-size: 20px;
    font-weight: bold;
}